*{
    padding: 0;
box-sizing: border-box
}

.flex-container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex-grow: 3;
    flex-shrink: 0;
    ;
}

header {
    flex-basis: 20%;
}

main {
    flex-basis: 60%;
    align-self: stretch;
    height: 700px;
}



footer {
    flex-basis: 20%;
}